@using System.ServiceModel.Channels
@using Newtonsoft.Json
@model ATSystem.Models.Entity.AssetLocation
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainPage.cshtml";
}

<div>
    @using (Html.BeginForm("Create", "AssetLocation", FormMethod.Post, new { id = "createform" }))
    {

        <div class="form-horizontal container">
            <div class="row">
                <br />
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Create Asset Location
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <h4 align="center"><b>Create Asset Location</b></h4>
                                    <br />
                                    <div class="col-md-4">
                                        @Html.Label("Organization", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("OrganizationId", new SelectList(ViewBag.orglist, "Id", "Name"), "Select...", new { @class = "form-control", Required = "required", title = "Organization Required" })
                                        @Html.ValidationMessage("OrganizationId", new { style = "color:red;font-size:12px" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        @Html.Label("Branch", new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(c => c.BranchId, new SelectList(new SelectListItem[] { new SelectListItem() { Value = "", Text = "Select..." } }, "Value", "Text"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.BranchId, "", new { style = "color:red;font-size:12px" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(c => c.Name, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Name, "", new { style = "color:red;font-size:12px" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(c => c.ShortName, new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(c => c.ShortName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.ShortName, "", new { style = "color:red;font-size:12px" })
                                        <p class="text-danger" style="font-size: 12px">@ViewData["exist"]</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-9">
                                        @if ((string)ViewData["success"] == "Save Successfully")
                                        {
                                            <label class="alert alert-success pull-right" style="padding: 0px 70px; border: 3px solid transparent">@ViewData["success"]</label>
                                        }

                                    </div>
                                    <div class="col-md-3 btn-group">
                                        <input type="submit" value="Create" class="btn btn-success pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@section AssetLocationCreateJS{

    <script type="text/javascript">
        $(document).ready(function () {
    $("#OrganizationId").change(function() {
        //load relevant branches of organization
        var organizationId = $("#OrganizationId").val();

        var json = {
             organizationId: organizationId
        };

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("GetBranchsByOrganizationId", "Branch")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {

                    $('#BranchId').empty();
                    var blankOption = "<option value=''> Select...</option>";

                    $('#BranchId').append(blankOption);
                    $.each(data, function (key, value) {

                        var option = "<option value='" + value.Id + "'>" + value.Name + "</option>";
                        $('#BranchId').append(option);

                    });

                },
                error: function(data) {

                }
        });


    });



        
        });





    </script>

}

